#menu_header{
    width: 100%;
    text-align:center;
    padding: 0 10%;
    height: 100px;
    line-height: 100px;
    background: #F4B12F;
    position:fixed;
    h1{
        height: 100%;
        line-height: 100px;
        color: #222;
        font-weight: 900;
        font-size:43px;
    }
    i{
        position:absolute;
        height: 100%;
        width: 10%;
        line-height:100px;
        left: 2%;
    }
    b{
        position:absolute;
        height: 100%;
        width: 10%;
        line-height:100px;
        right: 2%
    }
}