// 头部
#menu_header{
    width: 100%;
    text-align: center;
    padding: 0 3%;
    background: #F4B12F;
    position: fixed;
    top: 0;
    // z-index: 1;
    display: flex;
    justify-content: space-between;
    input {
      height: 36%;
      margin: 0;
      width: 90%;
      border-radius: 20px;
      position: absolute;
      bottom: 9%;
      left: 5%;
      font-size: 75%;
      padding-left: 5%;
    }
    h1{
        height: 100%;
        line-height: 250%;
        color: #222;
        font-weight: 900;
        font-size:43px;
    }
    i{
      line-height: 230%;
        // position:absolute;
        // height: 100%;
        width: 10%;
        // line-height:100px;
        // left: 2%;
        color: #222;
    }
    b{
      line-height: 230%;
        // position:absolute;
        // height: 100%;
        width: 10%;
        // line-height:100px;
        // right: 2%
    }

    // font-size:43px;
    @media (min-width: 3000px) {
      h1 {
        font-size: 115px;
      }
    }
    @media (max-width: 3000px) {
          h1 {
            font-size: 105px;
          }
        }
    @media (max-width: 2100px) {
          h1 {
            font-size: 95px;
          }
        }
    @media (max-width: 1600px) {
          h1 {
            font-size: 80px;
          }
        }
        
    @media (max-width: 1400px) {
      h1 {
        font-size: 60px;
      }
    }
    @media (max-width: 750px) {
      h1 {
        font-size: 50px;
      }
    }
    @media (max-width: 640px) {
      h1 {
        font-size: 43px;
      }
    }
}
