html,body{height: 100%;}
#app{
    height: 100%;
}
#menu_datagrid{
    margin-top:165px;
    height: 200%;
    width: 82%;
    // background: #ccc;
    float: right;
    .gai{
      height-min: 30%;
      width: 100%;
    }
    .page{
        padding:0 3%;
        font-size:32px;
        background: #fff;
        height: 47px;
        line-height:47px;
        border-top:1px solid #333;
        i{
         display:inline-block;
         width: 6px;
         height: 32px;
         background: red;
         margin-right: 1%;
         margin-bottom: -5px;
        }
        p{
            display:inline-block;
        }
    }
    .page:first-child{
        border-top:0 none;
    }
    ul{
        height: 30%;
        width: 100%;
        position: relative;
        li{
            margin-top: 3%;
            width: 100%;
            background: #fff;
            height: 30%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            position:relative;
            .img{
                height: 150px;
                width: 40%;
                overflow:hidden;
                img{
                    margin-left:-3%;
                height: 100%;
                width: 120%;
                }
            }
            .centent{
                flex:1;
                padding: 0 2%;
                overflow: hidden;
                h2{
                    color:#000;
                    font-weight:600;
                    padding: 3% 0 ;
                    font-size: 32px;
                }
                .des{
                    font-size:30px;
                    padding: 3% 0;
                    white-space: nowrap;
                }
                .dex{
                    font-weight:600;
                    color: red;
                    display:inline-block;
                    font-size:48px;
                }
                i{
                    // position:absolute;
                    // top: 61%;
                    // right: 6%;
                    float: right;
                    padding: 3% 10% 0 0;
                    color: #26c472;
                }
                
            }
        }
    }


}
    @media (min-width: 3000px) {
      .page {
        font-size: 90px!important;
      }
      ul .des{
        font-size:115px!important;
      }
      ul .dex{
        font-size:48px!important;
      }
      h2 {
        font-size: 48px!important;
      }
      body {
        font-size: 90px!important;
      }
    }
    @media (max-width: 3000px) {
      .page {
        font-size: 90px!important;
      }
      ul .des{
        font-size:115px!important;
      }
      ul .dex{
        font-size:48px!important;
      }
      h2 {
        font-size: 48px!important;
      }
      body {
        font-size: 85px!important;
      }
    }
    @media (max-width: 2100px) {
      .page {
        font-size: 55px!important;
      }
      ul .des{
        font-size: 55px!important;
      }
      ul .dex{
        font-size: 84px!important;
      }
      h2 {
        font-size:  68px!important;
      }
      body {
        font-size: 80px!important;
      }
    }
    @media (max-width: 1600px) {
      .page {
        font-size: 50px!important;
      }
      ul .des{
        font-size: 48px!important;
      }
      ul .dex{
        font-size:69px!important;
      }
      h2 {
        font-size: 58px!important;
      }
      body {
        font-size: 70px!important;
      }
    }
        
    @media (max-width: 1400px) {
      .page {
        font-size: 46px!important;
      }
      ul .des{
        font-size: 43px!important;
      }
      ul .dex{
        font-size: 60px!important;
      }
      h2 {
        font-size: 48px!important;
      }
      body {
        font-size: 65px!important;
      }
    }
    @media (max-width: 750px) {
      .page {
        font-size: 38px!important;
      }
      ul .des{
        font-size: 35px!important;
      }
      ul .dex{
        font-size: 54px!important;
      }
      h2 {
        font-size: 40px!important;
      }
      body {
        font-size: 50px!important;
      }
    }
    @media (max-width: 640px) {
      .page {
        font-size: 32px!important;
      }
      ul .des{
        font-size: 30px!important;
      }
      ul .dex{
        font-size: 48px!important;
      }
      h2 {
        font-size: 32px!important;
      }
      body {
        font-size: 45px!important;
      }
    }

