// 尾部
#menu-footer {
position: relative;
z-index: 99;
  width: 100%;
  // text-align:center;
  padding: 0 0 0 10%;
  // height: 80px;
  // line-height: 100px;
  background: #F4B12F;
  position: fixed;
  bottom: 0;
  opacity: 0.9;
  display: flex;
  .cart {
    height: 1.7rem;
    width: 1.7rem;
    margin-left: -30px;
    border-radius: 50%;
    background: #ccc;
    position: absolute;
    bottom: 0;
    border: 0.1066rem solid #F4B12F;
    display: flex;
    align-items: center;
    z-index: 2;
    span {
      width: 100%;
      text-align: center;
    }
  }
  .money {
    flex: 1;
    color: #26c472;
    padding-left: 1.7rem;
    height: 100%;
    display: inline-block;
    text-align: center;
    display: flex;
    p{align-items: center;}

  }
  .r_cart {
    display: flex;
    background: #fff;
    float: right;
    width: 35%;
    height: 100%;
    font-size: 90%;
    border-top: 0.1066rem solid #26c472;
    align-items: center;
    justify-content: center;
  }
  .money,.r_cart p {
    align-items: center;
  }
    .foodlist{
      .verify{
        padding-left: 0.3rem;
        border-bottom: 3px solid #fff;
        margin-bottom: 10px;
        
      }
//    display: none;
      transition: all 2s; 
      overflow: auto;
      position:absolute;
//    opacity: 0;
      top: 0rem;
//    top: -9.3333rem;
      left: 0rem;
      width: 8rem;
      height: 0rem;
//    height: 9.3333rem;
      background-color: #000;
      color: #fff;
      border-top: 10px solid red;
      border-right: 10px solid red;
      border-top-right-radius: 1.5rem;
      ul{
        width: 100%;
        li{
          width: 100%;
          border-bottom: 0.1333rem solid #58bc58;
          .img{
            display: inline-block;
            width: 40%;
            img{
              width: 100%;
            }
          }
          .centent{
            display: inline-block;
            width: 55%;
          }
        }
      }
    }
}


